body {
    background: #333 !important;
    margin: 0;
    padding: 0;
    color: #fff !important;
}

#showcase h1 {
    padding: 1em;
}

#inputField:focus {
    border-color: #666;
    box-shadow: inset 0 1px 1px rgba(173, 173, 173, 0.075), 0 0 8px rgba(145, 145, 145, 0.76);
}

.form {
    display: block;
    margin: auto;
    width: 80vw;
}

#todos {
    margin-top: 25px;
}

.well {
    padding: 2em;
    border: 1px solid #333;
    border-radius: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: 20px 10px 21px 2px rgba(26,26,26,1);
    background: #666;
    transition: .3s;
}

.well-complete {
    transition: .3s;
    background: #222;
    text-decoration-line: line-through;
    text-decoration-color: rgba(255, 255, 255, .7);
    border: 1px solid #222;
}
