body {
    background: #333 !important;
    margin: 0;
    padding: 0;
    color: #fff !important;
}

#showcase h1 {
    padding: 1em;
}

#inputField:focus {
    border-color: #666;
    box-shadow: inset 0 1px 1px rgba(173, 173, 173, 0.075), 0 0 8px rgba(145, 145, 145, 0.76);
}

.form {
    display: block;
    margin: auto;
    width: 80vw;
}

#todos {
    margin-top: 25px;
}

.well {
    padding: 2em;
    border-radius: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.75);
    background: #333;
    transition: .3s;
}

.well-complete {
    transition: .3s;
    background: #222;
    text-decoration-line: line-through;
    text-decoration-color: rgba(255, 255, 255, .7);
}